body {
	background-image: url(bg.png);
	background-size: 70%;
	background-repeat: no-repeat;
}

.text {
	color: #ffffff;
	font-family: Arial;
	text-align: center;
}
div {
	color: #ffffff;
	text-align: center;
}