body {
	background-color: #000000;
	background-image: url(bg.jpg);
	background-repeat: no-repeat;
	background-size: auto;
}

.text {
	color: #ffffff;
	font-family: Arial;
	text-align: center;
}
div {
	color: #ffffff;
	text-align: center;
}